$font-size: 1.2vh;
.column-container {
    height: calc(88vh);
    overflow-y: hidden;
    .ccheader {
        width: 95%;
        font-size: $font-size;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border: 0px dotted red;
        .newitem {
            .btn-edit {
                line-height: $font-size;
                font-size: $font-size;
                cursor: pointer;
                border: 1px solid #ccc;
                border-radius: 4px;
                background-color: #d93;
                color: white;
            }
            .btn-edit:focus {
                outline: 0;
            }
        }
    }
    .itemlist {
        height: calc(100% - 20px);
        overflow-x: hidden;
        overflow-y: auto;
        .items {
            list-style-type: none;
            margin: 5px;
            padding: 0px 0px;
            font-size: $font-size;
            font-weight: 600;
        }
    }
}
