$font-size: 1vw;
$font-size-select: 0.75vw;
$font-size-column-title: 0.75vw;
.column {
    height: calc(100vh - 120px);
    overflow: hidden;
    .header {
        font-size: $font-size-column-title;
        display: grid;
        grid-template-columns: 90% auto;
        padding: 10px 20px;
        font-weight: 600;
        .title {
        }
        .btn-edit {
            line-height: $font-size-column-title;
            font-size: $font-size-column-title;
            cursor: pointer;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #d93;
            color: white;
            .icon {
                line-height: $font-size-column-title;
                font-size: $font-size-column-title;
            }
        }
        .btn-edit:focus {
            outline: 0;
        }
    }
    .itemlist {
        height: calc(100% - 120px);
        overflow-x: hidden;
        overflow-y: auto;
        .items {
            list-style-type: none;
            margin: 5px;
            padding: 0px 10px;
            font-size: $font-size;
            font-weight: 600;
        }
    }
}        
