.home-container {
    max-height: 100%;
    overflow: hidden;

    .header {
        display: grid;
        grid-template-columns: auto 20% 20%;
        padding: 5px;
        .title {
            font-size: 2.25vh;
            color: #b84;
            .boardcode {
                color: #727d7a;
                text-transform: uppercase;
                padding: 0px 6px;
                font-weight: 600;
            }
        }
        .selectcode {
            font-size: 1.75vh;
            select {
                font-size: 1.75vh;
            }
            color: #788;
            text-align: right;
            .text {
                margin-right: 10px;
            }
            margin: 3px 0px;
            text-align: center;
            color: #788;
            #boardcode,
            #projectcode {
                border: 1px solid #ccc;
                color: #788;
                width: 5vw;
                padding: 0;
            }
            .dropdown:focus {
                outline: 0;
            }
        }
    }
    .main {
        height: auto;
        display: grid;
        grid-gap: 0rem;
        grid-template-columns: repeat(4, 1fr);
        background-color: #eee;
        padding: 0px 20px;
        color: #788;
        .column {
            height: calc(100vh - 120px);
            overflow-x: hidden;
            overflow-y: auto;
            .header {
                display: grid;
                grid-template-columns: 90% auto;
                padding: 10px 20px;
                font-weight: 600;
                .btn-edit {
                    line-height: 1.75vh;
                    font-size: 1.75vh;
                    cursor: pointer;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    background-color: #d93;
                    color: white;
                }
                .btn-edit:focus {
                    outline: 0;
                }
            }
            .items {
                list-style-type: none;
                margin: 5px;
                padding: 0px 10px;
                font-size: 1.75vh;
                font-weight: 600;
            }
        }
    }
}
