.bg-custom {
    font-size: 2.2vh;
    margin-top: 2px;
    background: linear-gradient(110deg, #727d7a 60%, #9e8a59 60%);
    .appname {
        font-size: 2.2vh;
    }
    .nav-item {
        font-size: 1.75vh;
    }
    .dropdown-menu {
        background-color: #a96;
    }
    .dropdown-item {
        color: white;
    }
    .dropdown-item:hover {
        color: #788;
    }
    .title {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .title-center {
            text-transform: uppercase;
        }
    }
    .active {
        font-weight: 700;
    }
}
