.page-container {
    width: 50%;
    margin: 15vh auto;
    display: flex;
    flex-direction: row;
    min-height: 60vh;
    font-size: 0.9vw;
    .left-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        background: linear-gradient(110deg, #727d7a 60%, #9e8a59 60%);
        color: white;
        h2 {
            font-size: 2vw;
        }
    }
    .right-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        background: #ccc;
        label {
            color: maroon;
        }
        input {
            font-size: 0.9vw;
            width: 10vw;
        }
        #username,
        #current-password {
            background-color: #ffc;
        }
        .btnSubmit {
            font-weight: 600;
            width: 50%;
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
        }
        .error {
            min-height: 70px;
            max-height: 70px;
            padding-top: 50px;
            color: crimson;
        }
    }
}
